<div class="container show-of-movies">
  <h1><%= @movie.title %></h1>
  <div class="row row1 mx-0">
    <div class="col-md-3 movie-poster">
      <%= image_tag @movie.poster, class: 'w-100' %>
      <div class="row add-watchlist mx-0">
        <% if user_signed_in? %>
          <% if current_user.movies.include?(@movie) %>
            <div class="col-8 mx-auto pl-0">
              <%= link_to interest_path(Interest.find_by(user:current_user, movie:@movie), source: "movie"), data: {turbo_method: :delete}, class: 'btn-rmv' do %>
                <button class="btn-remove-watchlist"><i class="fa-solid fa-star fa-xl"></i></button>
              <% end %>
            </div>
          <% else %>
            <div class="col-8 mx-auto pl-0">
              <%= simple_form_for [@movie, @interest] do |f| %>
                <%= hidden_field_tag :source, "movie" %>
                <%= button_tag(class: 'btn-interest') do %>
                  <i class="fa-regular fa-star btn-watchlist fa-xl"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-8 mx-auto pl-0">
            <%= link_to new_user_session_path do %>
              <i class="fa-regular fa-star btn-watchlist fa-xl"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 movie-infos">
      <p class="movie-director">Réalisé par :
        <% unless @directors.nil? %>
          <% @directors.each do |director| %>
            <%= link_to director.artist.name, artist_path(director.artist) %>
          <% end %>
        <% end %>
      </p>
      <p class="movie-plot">Synopsis : <%= @movie.synopsis %></p>
      <p class="movie-runtime">Durée : <%= @movie.duration %> min</p>
      <p class="movie-year">Sortie : <%= @movie.release_date %></p>
      <p class="movie-langage">Langue d'origine : <%= @movie.original_language %></p>
      <p class="movie-country">Pays : <%= @movie.country %></p>
      <p class="movie-genre">Genre : <%= @movie.genre %></p>
      <p class="movie-rate">Note IMDB : <%= @movie.imdb_rating %>/10</p>
      <p class="movie-actors">Casting :
        <% unless @actors.nil? %>
          <% @actors.each do |actor| %>
            <%= link_to actor.artist.name, artist_path(actor.artist) %>
          <% end %>
        <% end %>
      </p>
    </div>

    <div class="col-md-3">
      <% unless @movie_show.empty? %>
        <div style="max-width: 100vw; height: 25vw;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end  %>
    </div>
  </div>

  <div class="seance-container">
    <h4>Où voir ce film au cinéma :</h4>
    <div class="seances">
      <% if @movie_shows.empty? %>
        <div>Aucune séance n'est prévue pour ce film</p>
      <% else %>
        <% @movie_shows.each do |movie_show| %>
          <div class="seance">
            <div class="cine-name"><strong><%= link_to movie_show.cinema.name, cinema_path(movie_show.cinema) %> :</strong></div>
            <div class="seance-date"><%= l movie_show.date, format: '%a %d %B' %></div>
            <div class="seance-time"><%= movie_show.start_at.strftime('%H:%M') %></div>
            <div class="seance-lang">Langue : <%= movie_show.language %></div>
            <div class="seance-sub">Sous-titres :
              <% if movie_show.subtitle == "" %>
                  ❌
              <% else %>
                <%= movie_show.subtitle %>
              <% end %>
            </div>
            <% if current_user.movie_shows.include?(movie_show) %>
              <div class="rmv-booking">
                <%= link_to booking_path(Booking.find_by(user:current_user, movie_show:movie_show), source: "movie"), data: {turbo_method: :delete} do %>
                  <button class="btn-remove-booking"><i class="fa-solid fa-bookmark fa-xl"></i></button>
                <% end %>
              </div>
            <% else %>
              <div class="seance-booking">
                <%= simple_form_for [movie_show, @booking] do |f| %>
                  <%= hidden_field_tag :source, "movie" %>
                  <%= button_tag(class: 'btn-booking') do %>
                    <i class="fa-regular fa-bookmark fa-xl btn-book"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="comment p-2" data-controller="insert-in-list">
    <div class="comment-list">
      <ul class="list-group list-group-flush p-2" data-insert-in-list-target="items">
        <% @movie.comments.includes([:user]).each do |comment| %>
          <% if comment.content != nil %>
            <%= render "movies/comment", comment: comment %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="comment-form">
      <%= render "comments/form_com", movie: @movie, comment: @comment %>
    </div>
  </div>
</div>
