<div class="container">
  <h1><%= @movie.title %></h1>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @movie.poster, class: 'w-100 p-2' %>
    </div>
    <div class="col-md-9">
      <p>Réalisé par:
        <% unless @directors.nil? %>
          <% @directors.each do |director| %>
            <%= link_to director.name, artist_path(director) %>
          <% end %>
        <% end %>
      </p>
      <p>Synopsis: <%= @movie.synopsis %></p>
      <p>Genre: <%= @movie.genre %></p>
      <p>Sortie: <%= @movie.release_date %></p>
      <p>Durée: <%= @movie.duration %> min</p>
      <p>Pays: <%= @movie.country %></p>
      <p>Langue d'origine: <%= @movie.original_language %></p>
      <p>Note: <%= @movie.imdb_rating %>/10</p>
      <p>Casting:
        <% unless @actors.nil? %>
          <% @actors.each do |actor| %>
            <%= link_to actor.name, artist_path(actor) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-8 mx-auto">
        <%= render "interests/form"  %>
      </div>
    <% else %>
      <div class="col-8 mx-auto">
        <%= link_to new_user_session_path do %>
          <span class="btn btn-primary">Create Interest</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="comment p-2 m-5">
  <div class="comment-list">
    <ul class="list-group list-group-flush p-2">
      <% @movie.comments.each do |comment| %>
        <li class="list-group-item"><strong><%= comment.user.username %></strong> : <%= comment.content %></li>
      <% end %>
    </ul>
  </div>
  <div class="comment-form">
    <% if user_signed_in? %>
       <%= simple_form_for [@movie, @comment] do |f| %>
          <%= f.input :content, input_html:{class: "infor"} %>
          <%= f.submit "Poster", class: "btn btn-warning" %>
        <% end %>
    <% else %>
    <% end %>
  </div>
</div>
