<h1><%= @movie.title %></h1>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @movie.poster, class: 'w-100 p-2' %>
  </div>
  <div class="col-md-9">
    <p>Réalisé par:
      <% @directors.each do |director| %>
        <%= link_to director.name, artist_path(director) %>
      <% end %>
    </p>
    <p>Synopsis: <%= @movie.synopsis %></p>
    <p>Genre: <%= @movie.genre %></p>
    <p>Sortie: <%= @movie.release_date %></p>
    <p>Durée: <%= @movie.duration %> min</p>
    <p>Pays: <%= @movie.country %></p>
    <p>Langue d'origine: <%= @movie.original_language %></p>
    <p>Note: <%= @movie.imdb_rating %>/10</p>
    <p>Casting:
      <% @actors.each do |actor| %>
        <%= link_to actor.name, artist_path(actor) %>
      <% end %>
    </p>
  </div>
</div>
