<% if @user == current_user %>
  <h2>Vous allez regarder : </h2>
<% else %>
  <h2><%= @user.username %> va regarder :</h2>
<% end %>

<% bookings.each do |booking|  %>
  <div class="card_booking">
    <%= link_to movie_path(booking.movie_show.movie) do %>
      <%= image_tag booking.movie_show.movie.poster %>
    <% end %>
    <div class="text d-flex justify-content-between w-100">
    <div class="info">
      <h4><%= booking.movie_show.movie.title %></h4>
      <p><i class="fa-solid fa-comment"></i> <%= booking.movie_show.language %></p>
      <p><i class="fa-solid fa-closed-captioning"></i> <%= booking.movie_show.subtitle %></p>
      <p><i class="fa-regular fa-hourglass"></i> <%= pluralize(booking.movie_show.movie.duration, "minute") %></p>
    </div>
    <div class="options">
      <h4><%= booking.movie_show.cinema.name %></h4>
      <p><i class="fa-solid fa-calendar-days"></i> <%= l(booking.movie_show.date, format: '%a %e %B') %> à <%= l(booking.movie_show.start_at, :format => '%H:%M') %></p>
      <p><i class="fa-solid fa-map-location-dot"></i> <%= booking.movie_show.cinema.address %></p>
    </div>
    </div>
    <% if current_user == booking.user %>
      <%= link_to booking_path(booking), class: "delete-btn", data: {turbo_method: :delete, turbo_confirm: "Voulez vous vraiment supprimer cette séance ?"} do %>
        <button class="btn btn-danger" ><i class="fa-solid fa-trash"></i></button>
      <% end %>
    <% end %>
  </div>
<% end %>
