<div class="card mb-3 movie-card" style="max-width: 540px;">
  <div class="row g-0">
    <%= link_to movie do %>
      <div class="d-flex">
        <div class="col-md-5 movie-poster">
          <%= image_tag movie.poster, class: 'img-fluid' %>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text text-ellipsis--3"><strong>Synopsis :</strong> <%= movie.synopsis %></p>
            <p class="card-text"><strong>Durée :</strong> <%= movie.duration %> min</p>
            <p class="card-text"><strong>Sortie :</strong> <%= movie.release_date %></p>
            <p class="card-text"><strong>Note :</strong> <%= movie.imdb_rating %>/10</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
