

<% followers.each do |follow| %>
  <div class="followers_card">

    <div class="follower_details">
      <p class="username"><%= follow.follower.username %></p>
      <p class="followed_at">Depuis : <%= time_ago_in_words(follow.created_at) %></p>
    </div>

    <div class="shared_interests">
      <h6>Films en commun</h6>
      <ul>
        <% follow.shared_films.each do |film| %>
          <li><%= film.title%></li>
        <% end %>
      </ul>
    </div>

    <div class="options">
      <% unless follow.followed?(current_user) %>
        <%= simple_form_for @follow do |f| %>
          <%= f.error :follower, class: "text-danger" %>
          <%= f.input :followed_id, as: :hidden , input_html: { value: follow.follower.id } %>
          <%= button_tag type: 'submit', class: "btn follow_back_btn", id: "register-button" do %>
            <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
          <% end %>
        <% end %>
      <% end %>

      <%= link_to user_interests_path(follow.follower) do %>
        <button class="btn watchlist_btn"><i class="fa-solid fa-eye"></i></button>
      <% end %>
    </div>

  </div>
<% end %>
