<% if @user == current_user %>
  <h2>Vous suivez : </h2>
<% else %>
  <h2><%= @user.username %> suis :</h2>
<% end %>
<div class="followed_cards_container">
  <% followeds.each do |follow| %>
    <div class="card_followeds">
      <p class="username"><%= follow.followed.username %></p>

      <% unless follow.shared_bookings.empty? %>
        <div class="shared_bookings">
          <p>va aussi à : </p>
          <% follow.shared_bookings.each do |movie_show| %>
            <p><%= movie_show.movie.title %></p>
          <% end %>
        </div>
      <% end %>

      <div class="options">
        <%= link_to user_interests_path(follow.followed) do %>
          <button class="btn watchlist_btn"><i class="fa-solid fa-eye"></i></button>
        <% end %>
        <%= link_to follow_path(follow), data: {turbo_method: :delete, turbo_confirm: "Vous voulez vraiment arreter de suivre #{follow.followed.username} ?"} do %>
          <button class="btn unfollow_btn"><i class="fa-solid fa-user-xmark"></i></button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
