<div class="container seance-container">
  <h4>Où voir ce film au cinéma :</h4>
  <div class="seances">
    <% if @movie_shows.empty? %>
      <div>Aucune séance n'est prévue pour ce film</p>
    <% else %>
      <% @movie_shows.each do |movie_show| %>
        <div class="seance">
          <div class="cine-name"><strong><%= link_to movie_show.cinema.name, cinema_path(movie_show.cinema) %> :</strong></div>
          <div class="seance-date"><%= l movie_show.date, format: '%a %d %B' %></div>
          <div class="seance-time"><%= movie_show.start_at.strftime('%H:%M') %></div>
          <div class="seance-lang">Langue : <%= movie_show.language %></div>
          <div class="seance-sub">Sous-titres :
            <% if movie_show.subtitle == "" %>
                ❌
            <% else %>
              <%= movie_show.subtitle %>
            <% end %>
          </div>
          <div class="seance-booking">
            <%= render "bookings/form", movie_show: movie_show, booking: @booking %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
